nav {
  background: #2d2d2d;
  border: none;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
 background: #ff7878;
  color: #fff;
  font-weight: bold;
  transition-duration: 0.5s;
}

.active{
  background: #ff7878 !important;;
}

