<div class="container">
  <div class="row">
    <div class="alert alert-success" *ngIf="deleteStudent">Success delete student !</div>
    <div class="buttons">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateFaculties">Create
        Faculties
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateCourse">Create Course
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateGroup">Create Group
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#CreateStudents">
        Create Students <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

    <!-- Modal -->
    <div id="CreateFaculties" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header  alert alert-info text-center">
            <button type="button" class="close" data-dismiss="modal" (click)="CloseUp()">&times;</button>
            <h3>Create new Faculties &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil"></span></h3>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" *ngIf="FS ">Successfully added !</div>
            <div class="alert alert-danger" *ngIf="FSerror">Information is not available !</div>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="FacultyName" name="FacultyName" placeholder="NAME">
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" (click)="FacultySubmit()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="CloseUp()">Close</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>


    <div id="CreateCourse" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header  alert alert-info text-center">
            <button type="button" class="close" data-dismiss="modal" (click)="CloseUp()">&times;</button>
            <h3>Create new Course <span class="glyphicon glyphicon-pencil"></span></h3>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" *ngIf="CS ">Successfully added !</div>
            <div class="alert alert-danger" *ngIf="CSerror">Information is not available !</div>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="CourseName" name="CourseName" placeholder="NAME">
              </div>
              <div class="form-group">
                <select #selectElemFac class="form-control">
                  <option value="" disabled selected hidden>Select Faculty</option>
                  <option [value]="fac.id" *ngFor="let fac of Faculty" name="FacultyID">{{fac.name}}</option>
                </select>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" (click)="CourseSubmit(selectElemFac.value)">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="CloseUp()">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="CreateGroup" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header  alert alert-info text-center">
            <button type="button" class="close" data-dismiss="modal" (click)="CloseUp()">&times;</button>
            <h3>Create new Group <span class="glyphicon glyphicon-pencil"></span></h3>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" *ngIf="GS ">Successfully added !</div>
            <div class="alert alert-danger" *ngIf="GSerror">Information is not available !</div>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="GroupName" name="GroupName" placeholder="NAME">
              </div>
              <div class="form-group">
                <select #selectElem class="form-control">
                  <option value="" disabled selected hidden>Select Course</option>
                  <option [value]="cour.id" *ngFor="let cour of Course" name="CourseID">{{cour.name}}</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="GroupSubmit(selectElem.value)">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="CloseUp()">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div id="CreateStudents" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header  alert alert-info text-center">
            <button type="button" class="close" data-dismiss="modal" (click)="CloseUp()">&times;</button>
            <h3>Create new Students <span class="glyphicon glyphicon-user"></span></h3>
          </div>
          <div class="alert alert-success" *ngIf="StudentCreateMessage">Create Student Success!</div>
          <div class="modal-body">
            <form #myFormInsert="ngForm" (ngSubmit)="StudentsSubmit(myFormInsert.value); myFormInsert.reset()">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="NAME" ngModel required #name="ngModel">
                <span class="help-block" *ngIf="!name.valid && name.touched">Please enter name!</span>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="surname" placeholder="SURNAME" ngModel required
                       #surname="ngModel">
                <span class="help-block" *ngIf="!surname.valid && surname.touched">Please enter surname!</span>
              </div>

              <div class="form-group">
                <input type="text" #patronymic="ngModel" class="form-control" name="patronymic" placeholder="PATRONYMIC"
                       ngModel required>
                <span class="help-block" *ngIf="!patronymic.valid && patronymic.touched">Please enter patronymic!</span>
              </div>

              <div class="form-group">
                <input type="text" #phone="ngModel" class="form-control" name="phone" placeholder="PHONE" ngModel
                       required>
                <span class="help-block" *ngIf="!phone.valid && phone.touched">Please enter phone!</span>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" #address="ngModel" name="address" placeholder="ADDRESS" ngModel
                       required>
                <span class="help-block" *ngIf="!address.valid && address.touched">Please enter address!</span>
              </div>

              <div class="form-group">
                <label>Select Faculty </label>
                <select class="form-control" name="faculties_id" ngModel
                        (change)="SelectFacfilter($event.target.value)" required>
                  <option value="" disabled selected hidden>Select Faculty</option>
                  <option [value]="fac.id" *ngFor="let fac of Faculty" name="FacultyID">{{fac.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" *ngIf="Facultyselected" name="course_id" ngModel
                        (change)="SelectCoufilter($event.target.value)" required>
                  <option value="" disabled selected hidden>Select Course</option>
                  <option [value]="cour.id" *ngFor="let cour of Course" name="CourseID">{{cour.name}}</option>
                </select>

              </div>
              <div class="form-group">
                <select class="form-control" name="group_id" ngModel *ngIf="Courseselected"
                        (change)="SelectGroupFilterSearchSub($event.target.value)" required>
                  <option value="" disabled selected hidden>Select Group</option>
                  <option [value]="grou.id" *ngFor="let grou of Group" name="GroupID">{{grou.name}}</option>
                </select>

              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" [disabled]="!myFormInsert.valid">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Refresh(myFormInsert)">
                  Close
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="filter-students">
    <input type="text" class="form-control search" [(ngModel)]="searchStr" placeholder="SEARCH NAME">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <!--Select Faculty -->
    <select #selectedid class="form-control searchSelect" (change)="SelectFacFilterSearch($event.target.value)"
            (change)="SelectFacfilter($event.target.value)">
      <option value="" disabled>Select Faculty</option>
      <option [value]="fac.id" *ngFor="let fac of Faculty" name="FacultyID">{{fac.name}}</option>
    </select>
    &nbsp;
    <!--Select Course -->
    <select #couseid [disabled]="!Facultyselected" class="form-control searchSelect"
            (change)="SelectCouFilterSearch($event.target.value)" (change)="SelectCoufilter($event.target.value)">
      <option value="" disabled>Select Course</option>
      <option [value]="cour.id" *ngFor="let cour of Course" name="CourseID">{{cour.name}}</option>
    </select>
    &nbsp;

    <!--Select Group-->
    <select class="form-control searchSelect" [disabled]="!Courseselected" name="group_id"
            (change)="SelectGroupFilterSearch($event.target.value)">
      <option value="" disabled selected>Select Group</option>
      <option [value]="group.id" *ngFor="let group of Group">{{group.name}}</option>
    </select>
    &nbsp;
    <button class="glyphicon glyphicon-refresh btn btn-primary" (click)="RefreshAllSelect()"></button>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>PATRONYMIC</th>
        <th>PHONE</th>
        <th>ADDRESS</th>
        <th>EDITH</th>
        <th>DELETE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of  Students | search:searchStr; let i = index">
        <td>{{student.id}}</td>
        <td>{{student.name|uppercase}}</td>
        <td>{{student.surname|uppercase}}</td>
        <td>{{student.patronymic|uppercase}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.address}}</td>
        <td>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#UpdateForm"
                  (click)="UpdateStudent(student)"><span class="glyphicon glyphicon-pencil"></span></button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="DeleteSt(student,i)"><span
            class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
      </tbody>
    </table>


    <div id="UpdateForm" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header alert alert-info text-center">
            <button type="button" class="close" data-dismiss="modal" (click)="CloseUp()">&times;</button>
            <h3 class="">Update Student Info <span class="glyphicon glyphicon-user"></span></h3>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" *ngIf="StudentUpdateMessage">Update Student Success!</div>
            <form #myForm="ngForm" (ngSubmit)="UpdateStudentData(myForm.value)">

              <div class="form-group" *ngFor="let studentinfo of UpdateInfo">

                <input type="hidden" value="{{studentinfo.id}}" class="form-control" name="id"
                       [(ngModel)]="studentinfo.id"><br>
                <span class="help-block" *ngIf="!name.valid && name.touched">Please enter name!</span>
                <input type="text" class="form-control" name="name" value="{{studentinfo.name}}"
                       ngModel="{{studentinfo.name}}" required #name="ngModel"><br>

                <span class="help-block" *ngIf="!surname.valid && surname.touched">Please enter surname!</span>
                <input type="text" class="form-control" name="surname" value="{{studentinfo.surname}}"
                       ngModel="{{studentinfo.surname}}" required #surname="ngModel"><br>

                <span class="help-block" *ngIf="!patronymic.valid && patronymic.touched">Please enter patronymic!</span>
                <input type="text" class="form-control" name="patronymic" value="{{studentinfo.patronymic}}"
                       ngModel="{{studentinfo.patronymic}}" required #patronymic="ngModel"><br>

                <span class="help-block" *ngIf="!phone.valid && phone.touched">Please enter phone!</span>
                <input type="text" class="form-control" name="phone" value="{{studentinfo.phone}}"
                       ngModel="{{studentinfo.phone}}" required #phone="ngModel"><br>

                <span class="help-block" *ngIf="!address.valid && address.touched">Please enter address!</span>
                <input type="text" class="form-control" name="address" placeholder="{{studentinfo.address}}"
                       ngModel="{{studentinfo.address}}" required #address="ngModel"><br>

                <select class="form-control" name="faculties_id" ngModel
                        (change)="SelectFacfilter($event.target.value)" required>
                  <option value="" disabled selected hidde>
                    <div class="alert alert-info"><span class="glyphicon glyphicon-tag"></span> Your Faculty is at the
                      moment <span> [ {{ FaName }} ] </span></div>
                  </option>
                  <option selected="selected" [value]="fac.id" *ngFor="let fac of Faculty">
                    {{fac.name}}
                  </option>
                </select><br>

                <select class="form-control" *ngIf="Facultyselected" name="course_id" ngModel
                        (change)="SelectCoufilter($event.target.value)" required>
                  <option value="" disabled selected hidde>
                    <div class="alert alert-info"><span class="glyphicon glyphicon-tag"></span> Your course is at the
                      moment <span> [ {{ CoName }} ] </span></div>
                  </option>
                  <option selected="selected" [value]="cou.id" *ngFor="let cou of Course">
                    {{cou.name}}
                  </option>
                </select><br>

                <select class="form-control" name="group_id" ngModel *ngIf="Courseselected"
                        (change)="SelectGroupFilterSearchSub($event.target.value)" required>
                  <option value="" disabled selected hidde>
                    <div class="alert alert-info"><span class="glyphicon glyphicon-tag"></span> Your group is at the
                      moment <span> [ {{ GrName }} ] </span></div>
                  </option>
                  <option selected="selected" [value]="grou.id" *ngFor="let grou of Group">
                    {{grou.name}}
                  </option>
                </select>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Refresh(myForm)">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




