.btn-info {
  background: #333 !important;
  border: none;
}

.buttons {
  float: right;
}

.btn-info:hover {
  background: #ff7878 !important;
}
.search,.searchSelect {
  display: inline !important;
    width: 250px;
}


input.ng-dirty.ng-invalid {
  border: 1px solid red;
}
